body {
    margin: 0;
    padding: 40px;
    font-family: 'Press Start 2P', cursive;
    background-image: url("descargar.gif");
    background-size: cover;
    background-position: center;
    color: white;
}

.flecha img {
    width: 60px;
    transition: transform 0.2s ease;
    position:relative;
}
.flecha {
    position: absolute;
    bottom: 620px
}
.flecha:hover img {
    transform: scale(1.2);
    position: relative;

}

/* TÍTULO */
.titulo3 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
    position:relative;
}

.subtitulo3 {
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
    position:relative;
}

/* IMAGEN */
.imagenCarta {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.imagenCarta img {
    width: 300px;      /* tamaño pequeño */
    border-radius: 15px;
}

/* CUADRO CARTA */
.carta {
    height: 350px;
    overflow-y: auto;
    padding: 20px 10px;
}


/* TEXTO DE LA CARTA */
.carta p {
    font-family: "Gochi Hand", cursive;
    font-size: 18px;
    line-height: 1.8;
    height: 50px;
}
.contenedorCarta {
    width: 80%;
    max-width: 1000px;

    margin: 0 auto;

    padding: 0.1px 80px;
    border-radius: 30px;
    backdrop-filter: blur(2px);
 background: linear-gradient( rgba(255, 202, 202, 0.012),rgba(255, 195, 195, 0.656));
}
