body {
    margin: 0;
    font-family: 'Gochi Hand', cursive;
    background-image: url("descargar.gif");
    background-size: cover;
    background-position: center;
    color: rgb(255, 199, 199);
    padding: 40px;
}
.flecha img {
    width: 60px;
    transition: transform 0.2s ease;
    display: block;
}
.flecha {
    width: 60px;
    transition: transform 0.2s ease;
    padding-left: 250px;
    position: absolute;
    top: 50px;
    left: 30px;
    z-index: 10;
}

.titulofolder2 {
     text-align: center;
     font-size: 25px;
     font-family: "Press Start 2P", cursive;
     font-weight: 650;
     margin: 0 0 50px 0;  
     position: relative;
     margin-bottom: 40px;
     top: 40px; /* solo espacio abajo */
     color: rgb(255, 255, 255);
}
.contenido {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    padding: 40px;
    max-width: 1500px;
    width: 1000px;
    position: relative;
}

.izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.disco img {
    width: 250px;
    animation: girar 15s linear infinite;
    position: relative;
    right: 10px;
    top: 20px;
}

@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


.spotify {
    width: 300px;
    position: relative;
    right: 50px;
}

.cuadroTexto1 {
    width: 350px;
    min-height: 350px;
    padding: 25px;
    border-radius: 20px;
    line-height: 1.6;
    font-size: 25px;
    position: relative;
    top: 10px;
}
.izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    min-width: 420px;

}
.contenedorGrande {
    width: 85%;
    max-width: 1100px;
    margin: 40px auto;

    background: linear-gradient( rgba(255, 202, 202, 0.012),rgba(255, 195, 195, 0.656));
    padding: 30px;
    border-radius: 30px;
    backdrop-filter: blur(2px);
    position: relative;
}
.imagengatoconejo {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto 5px auto;  /* centrada y con espacio abajo */
    border-radius: 15px;
    opacity: 85%;

}
.flecha img {
    width: 60px;
    transition: transform 0.2s ease;
}

.flecha img:hover {
    transform: scale(1.15);
}
